* {
  font-family: Inter, sans-serif;
}

div {
  border-bottom: 1px solid #E2E8F0
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #171923;
  margin: 24px 0 16px 0;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 16px;
  color: #4A5568;
  font-size: 16px
}
