* {
  font-family: "Nunito", sans-serif;
  user-select: none;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 5em;
  text-align: center;
}

input {
  width: calc(100% - 176px);
  margin-right: 32px;
  border: 1px solid #E2E8F0;
  border-radius: 6px;
  padding-left: 50px;
  outline: none;
  color: rgba($color: #000000, $alpha: 0.36);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button {
  width: 176px;
  height: 48px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.125em;
}

.color-blue {
  color: #0069ca;
}
.color-purple {
  color: #8c19d2;
}
.background-purple{
  background-color: #8c19d2;
}
.color-white{
  color: #fff;
}
