button {
  width: 280px;
  height: 48px;
  background-color: #8C19D2;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: none;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
}
